body 
{
    margin: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/bg.jpeg);
    background-repeat: repeat;
}

.header-cont
{
    width: 100%;
    position: fixed;
    top: 0px;
}

.menu
{
    height: 50px;
    background-color: darkseagreen;
    border: 1px solid #CCC;
    width: 960px;
    margin: 0px auto;
}

.menu ul
{
    float: left;
    margin-left: 76px;
}

.menu ul li
{
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 120px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    float: left;
    list-style: none;
}

.menu ul li a
{
    text-decoration: none;
    color: white;
    display: block;
    font-family: "Roboto";
    text-transform: uppercase;
}

.menu ul li a:hover
{
    background-color: orange;
    border-radius: 8px;
}

.content
{
    width: 960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 70px auto;
}
